[submodule "public/codemirror"]
	path = public/codemirror
	url = git://github.com/marijnh/CodeMirror.git
[submodule "sub/sin"]
	path = sub/sin
	url = git://github.com/nshah/sin.git
[submodule "sub/haml.js"]
	path = sub/haml.js
	url = git://github.com/visionmedia/haml.js.git
