// your facebook application configuration
module.exports.facebook = {
  id: '...',
  secret: '...',
}

// you'll need this if you plan on using the code saving features
module.exports.amazon = {
  key: '...',
  secret: '...',
  bucket: '...',
}

// you'll need this if you plan on using the soda tests
module.exports.facebookTestUser = {
  email: '...',
  pass: '...',
}

// you'll need this if you plan on using saucelabs.com for running tests
module.exports.sauce = {
  user: '...',
  key: '...',
}
