!!!5
%html
  %head
    %title Error
    %link{type:"text/css", rel:"stylesheet", href:"/rell.css"}
  %body.not-found
    %h1 Something Broke
    %div
      I've logged the request and the error. If you're eager:
      %a(href="http://www.facebook.com/naitik") send me a message.
    %a{href:"/"} Go Home.
