- title = 'Error'
- bodyClass = 'not-found'
h1 Something Broke
div I've logged the request and the error. If you're eager&nbsp;
  a(href='http://www.facebook.com/naitik') send me a message.
a(href='/' style='margin-top: 1em') Go Home.
