!!!5
%html
  %head
    %title FB Read Eval Log Loop &mdash; Help
    %link(type="text/css" rel="stylesheet" href="/rell.css")
  %body.help
    .bd
      %h1 Facebook Read Eval Log Loop
      .info
        I like REPLs. Real hackers don't need a GUI. Edit the query parameters
        directly.
        %a(href="/") Take me back to the console.

      %dl
        %dt server
        %dd
          your sandbox if you want, defaults to production. use something like
          %strong www.naitik.dev575.snc1

        %dt apikey
        %dd your application api key or id.

        %dt locale
        %dd locale
