- bodyClass = 'main'
#interactive
  .controls
    %a.login-button{onclick:"Rell.login()"}
      %span Login
    %button{onclick:"Rell.disconnect()"} Disconnect
    %button{onclick:"Rell.logout()"} Logout
    %span#auth-status-container
      status:
      %span#auth-status unknown
    %a{style:"float: right", href:"/help"} help
  %textarea#jscode= this.example_code
  .controls
    %a#examples-button{href: this.makeUrl("/examples")} Examples
    %button{onclick:"Rell.runCode()"} Run
  #jsroot
#log-container
  .controls
    %button{onclick:"Log.clear()"} Clear
  #log
#fb-root
%script!= this.script()
#FB_HiddenContainer
