!!!5
%html{"xmlns:fb":"http://www.facebook.com/2008/fbml"}
  %head
    %title!= title + ' &mdash; FB Read Eval Log Loop'
    %meta{name:"name", content:"FbRell"}
    %meta{name:"website", content:"http://fbrell.com/"}
    %meta{name:"fb_admins", content:"1677846385,5526183"}
    %meta{name:"blurb", content:"Facebook Read Eval Log Loop."}
    %meta{name:"description", content:"Do some Facebook Connect debugging please."}
    %meta{name:"logo_url", content:"http://www.bin-co.com/blog/wp-content/uploads/2008/05/javascript_logo.jpg"}
    %link{type:"text/css", rel:"stylesheet", href:"/rell.css"}
  %body{class:bodyClass}
    != content
