!!! 5
html
  head
    meta(charset='utf-8')
    title #{title}
  body
    #fb-root
    script(src=staticUrls.sdk)
    script
      FB.init({
        appId: !{jsonify(rellConfig.appid)},
        cookie: true,
        xfbml: true
      })
    #example !{exampleCode}
