body {
  padding-top: 10px;
}

a {
  cursor: pointer;
}

#auth-status {
  text-transform: capitalize;
}

#jscode {
  width: 99%;
  height: 390px;
  margin-top: 7px;
}

#log-container {
  position: relative;
}

#rell-log-clear {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  margin: 0.5em 2.5em;
}

#log-container:hover .toggle {
  cursor: pointer;
}

#log-container:hover #rell-log-clear {
  display: block;
}

#jsroot h1:first-child, #jsroot h2:first-child, #jsroot h3:first-child, #jsroot h4:first-child {
  margin-top: auto;
}

#jsroot h1, #jsroot h2, #jsroot h3, #jsroot h4 {
  margin-top: 1em;
}

/**
 * Login Button
 */
#rell-login {
  background: url(https://static.xx.fbcdn.net/images/connect_sprite.png) no-repeat scroll left -188px #29447E;
  display: inline-block;
  line-height: 14px;
  outline: medium none;
  padding: 0 0 0 1px;
}
#rell-login span {
  background: url(https://static.xx.fbcdn.net/images/connect_sprite.png) repeat scroll 0 0 #5F78AB;
  border-bottom: 1px solid #1A356E;
  border-top: 1px solid #879AC0;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin: 1px 1px 0 21px;
  padding: 2px 6px 3px;
}
#rell-login:hover {
  text-decoration: none;
}


/**
 * Like Button
 */
.like {
  border: none;
  overflow: hidden;
  width: 450px;
  height: 80px;
  margin: 1em 0;
  display: block;
}

.og-info td {
  word-break: break-all;
}
