/**
 * Base
 */
body {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
}
a,
a:visited {
  color: #3B5998;
  text-decoration: none;
  cursor: pointer;
}
h2 {
  margin: 0 0 0 0.25em;
  color: #666;
  font-size: 136%;
}

/**
 * For Old Connect
 */
#FB_HiddenContainer {
  position: absolute;
  top: -10000px;
  height: 0;
  width: 0;
}

/**
 * Prettyness
 */
.login-button {
  background: url("https://s-static.ak.fbcdn.net/images/connect_sprite.png") no-repeat scroll left -188px #29447E;
  display: inline-block;
  line-height: 14px;
  outline: medium none;
  padding: 0 0 0 1px;
}
.login-button span {
  background: url(https://s-static.ak.fbcdn.net/images/connect_sprite.png) repeat scroll 0 0 #5F78AB;
  border-bottom: 1px solid #1A356E;
  border-top: 1px solid #879AC0;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin: 1px 1px 0 21px;
  padding: 2px 6px 3px;
}
#examples-button {
  float: right;
  font-weight: bold;
}

.not-found {
  text-align: center;
  margin-top: 15%;
}

.help .bd {
  width: 520px;
  margin: 0 auto;
}
.help h1 {
  font-variant: small-caps;
}
.help dt {
  font-weight: bold;
}
.help dl strong {
  font-family: "Menlo Regular", Monaco, Consolas, monospace;
  font-size: 87%;
}

/**
 * Interactive
 */
#interactive {
  width: 59%;
  float: left;
  background-color: #fff;
}
#log-container {
  width: 39%;
  float: right;
}
#log-container .controls {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  padding: 0.5em 2.5em;
  text-align: right;
  background: rgba(82, 82, 82, 0.695312);
}
#log-container:hover .controls {
  display: block;
}
#log {
  overflow: auto;
}

/**
 * General
 */
.controls {
  margin: 0.5em 0.5em 0.25em 2em;
}

/**
 * auth status
 */
#auth-status-label {
  padding-left: 1em;
}
#auth-status-label, span.bar {
  color: #777777;
}
#auth-status {
  color: #000000;
  padding-left: 0.3em;
  text-transform: capitalize;
}
span.bar {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

/**
 * Interactive
 */
#jscode {
  width: 99%;
  height: 390px;
  margin: 0.25em;
  font-family: "Menlo Regular", Monaco, Consolas, monospace;
  font-size: 12px;
}
.CodeMirror-wrapping {
  border: 1px solid #000;
  margin: 6px 0 0 3px;
}
#jsurl {
  width: 80%;
}
#jsroot {
  margin: 1em;
}
#jsroot h1 {
  color: #666;
  font-size: 130%;
  font-family: "Arial Rounded", sans-serif;
  margin-top: 2em;
}
#jsroot h1:first-child {
  margin-top: auto;
}

/**
 * Log
 */
#log .log-error .hd {
  background-color: #d02e13;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#D02E13), to(#D02E13), color-stop(.6,#9C220E));
  background: -moz-linear-gradient(100% 0% 180deg,#D02E13, #D02E13, #9C220E 100%);
  color: #eee;
}
#log .log-info .hd {
  background-color: #54be54;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#54BE54), to(#54BE54), color-stop(.6,#67E867));
  background: -moz-linear-gradient(100% 0% 180deg,#54BE54, #54BE54, #67E867 100%);
}
#log .log-debug .hd {
  background-color: #d0b185;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#D0B185), to(#D0B185), color-stop(.6,#FCD7A1));
  background: -moz-linear-gradient(100% 0% 180deg,#D0B185, #D0B185, #FCD7A1 100%);
}
#log .log-trace .hd {
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#EFEFEF), to(#EFEFEF), color-stop(.6,#999999));
  background: -moz-linear-gradient(100% 0% 180deg,#EFEFEF, #EFEFEF, #999999 100%);
}
#log .hd {
  padding: 0.5em;
  font-weight: bold;
}
#log .hd .toggle {
  cursor: pointer;
}
#log .hd .count {
  background-color: transparent;
  padding-right: 10px;
}
#log .log-error .hd .count {
  color: #aaa;
}
#log .log-info .hd .count {
  color: #666;
}
#log .log-debug .hd .count {
  color: #666;
}
#log .log-trace .hd .count {
  color: #666;
}
#log .bd {
  padding: 0.5em 1em;
  background-color: #E6EDFA;
  font-family: "Menlo Regular", Monaco, Consolas, monospace;
  border-top: 1px solid green;
}

#log .indent-0 {
  margin-left: 0;
}
#log .indent-1 {
  margin-left: 1em;
}
#log .indent-2 {
  margin-left: 2em;
}
#log .indent-3 {
  margin-left: 3em;
}
#log .indent-4 {
  margin-left: 4em;
}
#log .indent-5 {
  margin-left: 5em;
}
#log .indent-6 {
  margin-left: 6em;
}
#log .indent-7 {
  margin-left: 7em;
}
#log .indent-8 {
  margin-left: 8em;
}
