[Unit]
Description=Rell Deploy Service
Requires=nginx.service docker.socket
After=docker.socket
Before=nginx.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rell-deploy -prod

[Install]
WantedBy=multi-user.target
